.project-description {
  height: 100vh;
  min-height: 500px;
  //background-image: url('https://source.unsplash.com/XSCSi7qeIJc/1920x1080');
  background-image: url('../../../../content/images/main-page-background.png');
  //background-image: url('../images/main-page-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#button-content {
  margin-bottom: 20vh;
}