@import 'src/main/webapp/content/scss/bootswatch/variables';

.survey-page {
  min-height: 75vh;
  padding-top: 4vh;
}

#navigationButtons {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

#survey-body {
  //overflow-y: auto;
  //height: 75vh;
}

.panel-footer {
  overflow: hidden;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #4A99C0;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.focusedOn:before {
  width: 100% !important;
  -webkit-transition: width .2s ease-in !important;
  -moz-transition:  width .2s ease-in !important;
  -ms-transition:  width .2s ease-in !important;
  transition: width .2s ease-in !important;
}

.focusedOn a {
  color: #fff !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}


#sidebar-wrapper {
  padding: 0 !important;
}
#sidebar-wrapper-div {
  padding: 0 !important;
  z-index: 100;
  border-style: dashed;
}

.progress-bar {
  background-color: $secondary;
}

div[class^='jigsaw'], div[class*=' jigsaw']{
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;
}


.jigsaw1,
.jigsaw1 span {
  background-color: #6610f2;
  z-index: 6;
}

.jigsaw2,
.jigsaw2 span {
  background-color: #00008B;
  z-index: 5;
}

.jigsaw3,
.jigsaw3 span {
  background-color: #28a745;
  z-index: 4;
}

.jigsaw4,
.jigsaw4 span {
  background-color: #0c4d78;
  z-index: 3;
}

.jigsaw5,
.jigsaw5 span {
  background-color: #5eb69d;
  z-index: 2;
}

.jigsaw6,
.jigsaw6 span {
  background-color: #171a1d;
  z-index: 11;
}

.jigsaw7,
.jigsaw7 span {
  background-color: #28a745;
  z-index: 10;
}
.jigsaw8,
.jigsaw8 span {
  background-color: #2d6a52;
  z-index: 9;
}
.jigsaw9,
.jigsaw9 span {
  background-color: #881f0e;
  z-index: 8;
}
.jigsaw10,
.jigsaw10 span {
  background-color: #ffae00;
  z-index: 7;
}


.text {
  display: block;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  padding: 3em 0 0 1.2em;
  position: relative;
  background: transparent !important;
}

.jigsaw1 .t, .jigsaw2 .t, .jigsaw3 .t, .jigsaw4 .t, .jigsaw5 .t {
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}


.jigsaw6 .t, .jigsaw7 .t, .jigsaw8 .t, .jigsaw9 .t, .jigsaw10 .t {
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .r, .jigsaw2 .r, .jigsaw3 .r, .jigsaw4 .r, .jigsaw6 .r, .jigsaw7 .r, .jigsaw8 .r, .jigsaw9 .r{
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2em;
  left: 5.7em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .b, .jigsaw2 .b, .jigsaw3 .b, .jigsaw4 .b, .jigsaw5 .b {
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw2 .l, .jigsaw3 .l, .jigsaw4 .l, .jigsaw5 .l, .jigsaw7 .l, .jigsaw8 .l, .jigsaw9 .l, .jigsaw10 .l {
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.0em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw1 .l {
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}