@import 'src/main/webapp/content/scss/bootswatch/variables';

.survey-page {
  min-height: 80vh;
}

.survey-page .container-fluid {
  padding-top: 10vh;
}

.progress {
  height: 1rem !important;
}

#navigationButtons {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

#survey-body {
  //overflow-y: auto;
  //height: 75vh;
  margin-top: -5em !important;
}

.panel-footer {
  overflow: hidden;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: $primary;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}


.focusedOn:before {
  width: 100% !important;
  -webkit-transition: width .2s ease-in !important;
  -moz-transition:  width .2s ease-in !important;
  -ms-transition:  width .2s ease-in !important;
  transition: width .2s ease-in !important;
}

.focusedOn a {
  color: #fff !important;
}

.sidebar-nav li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}


#sidebar-wrapper {
  padding: 0 !important;
}
#sidebar-wrapper-div {
  padding: 0 !important;
  z-index: 100;
}

.progress-bar {
  background-color: $primary;
}

.count-box {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.count-box svg {
  font-size: 25px;
  line-height: 0;
  margin-right: 20px;
  color: #012970;
}

.count-box span {
  font-size: 20px;
  display: block;
  font-weight: 600;
  color: #012970;
}

.count-box p {
  padding: 0;
  margin: 0;
  font-size: 10px;
}