.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}

.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-box.blue {
  border-bottom: 3px solid #37517e;
}

.services .service-box.blue .icon {
  color: #37517e;
  background: #dbf3fe;
}

.services .service-box.blue .read-more {
  color: #37517e;
}

.services .service-box.blue:hover {
  background: #37517e;
}

.services .service-box.orange {
  border-bottom: 3px solid #37517e;
}

.services .service-box.orange .icon {
  color: #37517e;
  background: #fde3c4;
}

.services .service-box.orange .read-more {
  color: #37517e;
}

.services .service-box.orange:hover {
  background: #37517e;
}

.services .service-box.green {
  border-bottom: 3px solid #37517e;
}

.services .service-box.green .icon {
  color: #37517e;
  background: #cffddf;
}

.services .service-box.green .read-more {
  color: #37517e;
}

.services .service-box.green:hover {
  background: #37517e;
}

.services .service-box.red {
  border-bottom: 3px solid #37517e;
}

.services .service-box.red .icon {
  color: #37517e;
  background: #fef7f8;
}

.services .service-box.red .read-more {
  color: #37517e;
}

.services .service-box.red:hover {
  background: #37517e;
}

.services .service-box.purple {
  border-bottom: 3px solid #37517e;
}

.services .service-box.purple .icon {
  color: #37517e;
  background: #f8e4fd;
}

.services .service-box.purple .read-more {
  color: #37517e;
}

.services .service-box.purple:hover {
  background: #37517e;
}

.services .service-box.pink {
  border-bottom: 3px solid #37517e;
}

.services .service-box.pink .icon {
  color: #37517e;
  background: #feecf7;
}

.services .service-box.pink .read-more {
  color: #37517e;
}

.services .service-box.pink:hover {
  background: #37517e;
}

.services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
  background: #fff;
}

/////////////////////////

a:not([href]):hover {
  cursor: pointer;
}