.button {
  display:inline-block;
  text-align:center;
  line-height:1;
  cursor:pointer;
  -webkit-appearance:none;
  transition:background-color .25s ease-out,color .25s ease-out;
  vertical-align:middle;
  border:1px solid transparent;
  border-radius:0;
  font-size:.9rem;
  color:#fefefe;
  position:relative;
  margin:0 0 1rem;
  padding:.85em 1em;
  text-decoration: none;
}

.only-button {
  display:inline-block;
  background:#000;
  font-weight:700;
  color:#fff;
  margin-bottom:.5rem;
  cursor:pointer;
  padding:1rem;
}

.load-more-button {
  position:relative;
  font-size:1.2rem;
  margin:1rem 0;
  padding:1rem 2rem;
}

.load-more-wrap {
  text-align:center;
  padding-bottom:1.5rem;
}